<!DOCTYPE = html>
<html>
<head>
	<title>Joe Tait: Algebraic Geometry</title>

	<meta name="author" content="Joe Tait"/>
	<meta name="description" content="PhD student at Southampton studying algebraic goemetry. In particular I am looking group actions on curves and their holomorphic differentials."/>

	<link rel="stylesheet" href="style.css" type="text/css" /> 
</head>
<body>

	<div id="page">
		<div id="logo">
			<h1>Joe Tait's Contact Page</h1>
		</div>
		<div id="nav">
			<ul>
				<li><a href="/home/home.html">Home</a></li>
				<li><a href="/contact/contact.html">Contact</a></li>
			</ul>
		</div>

		<div id="content">
			<h2>Contact</h2>
			
			<p>You can email me at <em>joe "dot" tait "at" soton "dot" ac "dot" uk</p>
		<div>

		<div id="footer">
			<p>Webpage made by Joe Tait.</p>
			<p>Last Updated on 21/4/12.</p>
		</div>
</body>

</html>
